---
import Layout from '../layouts/Layout.astro';
import ImageGrid from '../components/ImageGrid.astro';
import type { ImageItem } from '../types';
import farmersMarket from '../assets/images/farmers-market.png';
import birdLeading from '../assets/images/bird-leading.png';
import paperPlaneCity from '../assets/images/paper-plane-city.png';
import grassIsAlwaysGreener from '../assets/gif/grass-is-always-greener.gif';
import abstract from '../assets/images/abstract.png';
import adventureCard from '../assets/images/adventure-card.png';
import blume from '../assets/images/blume.png';
import coinsAbstract from '../assets/images/coins-abstract.png';
import computerRunning from '../assets/images/computer-running.png';
import hair from '../assets/images/hair.png';
import handsCoins from '../assets/images/hands-coins.png';
import handsOnBlack from '../assets/images/hands-on-black.png';
import handsTogether from '../assets/images/hands-together.png';
import headsRoll from '../assets/gif/heads-roll.gif';
import justDogs from '../assets/images/just-dogs.png';
import meditateCard from '../assets/images/meditate-card.png';
import sun from '../assets/images/sun.png';
import toothCrown from '../assets/images/tooth-crown.png';
import walkingOnClouds from '../assets/images/walking-on-clouds.png';
import handSqueeze from '../assets/images/hand-squeeze.png';
import allApple from '../assets/images/all-apple.png';
import cherryPhone from '../assets/images/cherry-phone.png';
import burger from '../assets/images/burger.png';
import heroText from '../assets/images/hero-text.png';
import mayaHero from '../assets/images/hero-img.png';

import { Image } from 'astro:assets';

const images: ImageItem[] = [
	{ id: "1", src: farmersMarket, alt: "bag of fruits and vegetables from the farmers market" },
	{ id: "2", src: birdLeading, alt: "two characters being lead by a bird" },
	{ id: "3", src: paperPlaneCity, alt: "two characters throwing paper planes in a city" },
	{ id: "4", src: grassIsAlwaysGreener, alt: "orange hair girl on a picnic blanket in the grass", rowSpan: 2, colSpan: 3 },
	{ id: "5", src: computerRunning, alt: "computer running" },
	{ id: "6", src: justDogs, alt: "just dogs" },
	{ id: "7", src: blume, alt: "blume" },
	{ id: "8", src: handsOnBlack, alt: "hands on black", rowSpan: 2, colSpan: 3 },
	{ id: "9", src: headsRoll, alt: "heads roll", rowSpan: 2, colSpan: 2 },
	{ id: "10", src: hair, alt: "hair" },
	{ id: "11", src: sun, alt: "sun" },
	{ id: "12", src: walkingOnClouds, alt: "walking on clouds" },
	{ id: "13", src: meditateCard, alt: "meditate card", rowSpan: 2, colSpan: 2 },
	{ id: "14", src: toothCrown, alt: "tooth crown" },
	{ id: "16", src: handSqueeze, alt: "hand squeeze" },
	{ id: "16", src: coinsAbstract, alt: "coins abstract" },
	{ id: "17", src: abstract, alt: "abstract art" },
	{ id: "18", src: adventureCard, alt: "adventure card", rowSpan: 2, colSpan: 2 },
	{ id: "22", src: allApple, alt: "all apple" },
	{ id: "19", src: handsCoins, alt: "hands coins" },
	{ id: "21", src: cherryPhone, alt: "cherry phone" },
	{ id: "23", src: burger, alt: "burger" },
	{ id: "20", src: handsTogether, alt: "hands together" },
	
];
---

<Layout>
	<div class="lg:h-[440px] md:h-[460px] sm:h-[320px] relative overflow-visible">
		<div class="z-2 flex flex-col justify-between space-between h-full">
			<Image class="w-full max-w-[960px] md:w-[960px] h-auto w-full object-cover" src={heroText} alt="maya hero" />
			<span class="font-mono tracking-tighter text-sm md:text-base">Creative Director & Illustrator</span>
			<Image class="h-auto object-cover md:absolute bottom-0 right-0 overflow-visible sm:relative" src={mayaHero} alt="maya hero" />
		</div>
		<a href="/about" class="font-mono tracking-tighter absolute top-0 right-0 hover:text-gray-500 transition-colors duration-300">About me</a>
	</div>
	<ImageGrid images={images} />
</Layout>
