---
import { Image } from 'astro:assets';

import type { ImageMetadata } from 'astro';

type ImageItem = {
  id: string;
  src: ImageMetadata;
  alt: string;
  colSpan?: number;
  rowSpan?: number;
};

const { images } = Astro.props as { images: ImageItem[] };
---

<div
  class="grid grid-cols-1 lg:grid-cols-3 gap-4"
>
  {images.map((img) => (
    <div
      class="overflow-hidden rounded-lg bg-image-background border border-border min-h-[380px]"
      style={`grid-column: span ${img.colSpan || 1}; grid-row: span ${
        img.rowSpan || 1
      }`}
    >
      <Image
        src={img.src}
        alt={img.alt}
        loading="lazy"
        class="w-full h-full object-cover"
      />
    </div>
  ))}
</div>