---
import "../styles/global.css";

export interface Props {
	title?: string;
	description?: string;
	keywords?: string;
}

const { 
	title = "Creative Direction & Illustration | Salty Still", 
	description = "Illustrator and creative director", 
	keywords = "illustrator, creative director, UI illustration" 
} = Astro.props;
import { ClientRouter } from "astro:transitions";
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
		</style>
		<slot name="head" />
	</head>
	<body>
		<ClientRouter />
		<div class="RootLayout">
			<div class="RootContainer">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: clip;
	}
	.RootLayout {
		min-height: 100vh;
	}
	.RootContainer {
		padding: 1rem;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		gap: 1rem
	}
</style>
